$background-image: url(../images/campo.jpg);
$titulo-background-color: #1175a287;
$card-background-color: white;
$card-hover-background-color: #1175a296;
$column-background-color: #ffffffb9;
$button-background-color: red;
$todo-text-icon-color: white;
$icon-front-background-color: #24c21f;
$icon-back-background-color: #ff7300;
$icon-device-background-color: yellow;